<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- 左侧栏目 -->
        <div class="col-md-4 col-xl-3">

          <h2>hello</h2>

        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-8 col-xl-9">
            <div class="card" id="rightContainer">
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->



<div th:replace="~{fragments/footer :: footer}">...</div>

</body>
</html>