<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<style type="text/css">

    @import "/css/emoji/nature.css";
    @import "/css/emoji/object.css";
    @import "/css/emoji/people.css";
    @import "/css/emoji/place.css";
    @import "/css/emoji/Sysmbols.css";
    @import "/css/emoji/twemoji.css";

</style>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12">

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block" th:object="${blog}">
                    <input type="hidden" name="blogId" th:value="*{blogId}" id="blogId">
                    <input type="hidden" name="uid" th:value="*{uid}" id="uid">
                    <input  type="text" class="form-control" placeholder="请填写博客标题"  id="title" name="title"  th:value="*{title}"  maxlength="50">

                    <textarea class="blog-textarea" placeholder="请填写博客摘要"  id="summary" name="summary"  th:text="*{summary}" maxlength="300"></textarea>

                    <hr>
                    <textarea id="md" data-provide="markdown"  name="content"  th:text="*{content}"></textarea>

                    <hr>
                </div>

            </div>

        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">

            <!-- 文章目录 -->
            <div class="card ">
                <h5 class="card-header"><i class="fa fa-file-image-o" aria-hidden="true"></i> 图片上传</h5>
                <div class="card-block">
                    <div class="row mt-1">
                        <div  class="col-lg-12">


                            <form  enctype="multipart/form-data"  id="uploadformid"  >
                                <input type="file" name="file" accept="image/png,image/gif,image/jpeg" id="file">
                                <button class="btn btn-primary float-right"  type="button" id="uploadImage" >插入</button>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <!-- 图片上传 -->
            <div class="card ">
                <h5 class="card-header"><i class="fa fa-indent" aria-hidden="true"></i> 分类设置</h5>
                <div class="card-block">

                   <div class="row mt-1">
                        <div  class="col-lg-12">
                            分类：					<select id="catalogSelect" class="form-control form-control-chosen" data-placeholder="请选择" >
                            <option th:value="*{id}" th:text="*{name}" th:each="catalog : ${catalogs}"
                                    th:object="${catalog}" th:selected="${catalog  eq blog.catalog}">Java</option>
                        </select>
                        </div>
                    </div>
                    <br>
                    <div class="row mt-1">
                        <div  class="col-lg-12">
                            <button class="btn btn-primary float-right" id="submitBlog" >发布</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->



<div th:replace="~{fragments/footer :: footer}">...</div>

<script>
    // 初始化 md 编辑器
    $("#md").markdown({
        language: 'zh',
        fullscreen: {
            enable: true
        },
        resize:'vertical',
        localStorage:'md',
        imgurl: 'http://localhost:9090',
        base64url: 'http://localhost:9090'
    });
    $("#submitBlog").click(function() {
        $.ajax({
            url: '/saveBlog',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data:JSON.stringify({"id":$('#blogId').val(),
                "title": $('#title').val(),
                "summary": $('#summary').val() ,
                "content": $('#md').val(),
                "catalog":{"id": $('#catalogSelect').val()}
            }),
            success: function(data){
                //if (data.success) {
                    // 成功后，重定向
                    toastr.success("success");

                    window.location.href = "/userspace/u";
               // } else {
                    //toastr.error("error22!");
                //}

            },
            error : function() {
                toastr.error("error13!");
            }
        })
    })
</script>
</body>
</html>