<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- 左侧栏目 -->
        <div class="col-md-4 col-xl-3">

            <div class="row">
                <div class="col-md-12">
                    <span >
                      <a   th:title="${user.username}" >
                        <img th:src="${user.avatar} == null ? '/images/avatar-defualt.jpg' : ${user.avatar} " 
                         class="blog-avatar-100">
                      </a>
                    </span>
					<h5 class="text-muted" th:text="${user.username}"></h5>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-12">
                    <a th:href="'mailto:'+ ${user.email}" th:text="${user.email}"></a>
                </div>
            </div>
            
            <hr>


			<br>
			<a >
				管理分类
			</a>
			<br>
			<br>
			<a shiro:hasPermission="admin" th:href="profile">
				用户设置
			</a>

        </div>
        
   

        <!-- 右侧栏目 -->


        <div class="col-md-8 col-xl-9">
            <!-- 工具栏 -->
 

				<!-- Blog Post -->
				<div id="mainContainer">
					<div id="mainContainerRepleace">
						<div class="card mb-4" th:each="blog : ${blogList}">
							<div class="card-block">
								<h2 class="card-title">
		                 		<span>
				                  <a th:title="${blog.user.username}">
				                    <img src="/images/avatar-defualt.jpg" th:src="${blog.user.avatar} == null ? '/images/avatar-defualt.jpg' : ${blog.avatar}"  class="blog-avatar-50">
				                  </a>
						        </span>
									<a  class="card-link" th:href="'/blog/'+ ${blog.blogId}"  th:title="${blog.title}" th:text="${blog.title}"></a>
								</h2>
								<p class="card-text" th:text="${blog.summary}"></p>
								<div class="card-text">
									<a class="card-link" th:text="${blog.user.username}"></a>
									发表于 [[${#dates.format(blog.publishTime, 'yyyy-MM-dd HH:mm')}]]
									<a>     阅读量：[[${blog.readSize}]]</a>
								</div>
							</div>
						</div>
						<!--<div th:replace="~{fragments/page :: page}">...</div>-->
	            </div>
            </div>

        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->



<div th:replace="~{fragments/footer :: footer}">...</div>

<!-- JavaScript -->
<script th:inline="javascript">
var username = [[${user.username}]];
var catalogId = [[${catalogId}]];
</script>
</body>
</html>